#hpl, #hp{display:flex;}
#hp{flex-direction:column;position:relative;overflow:hidden;justify-content:space-around;padding-left:33%;height:calc(100vh - 120px);box-shadow:1px 1px 3px #333;}
#hp h2, #hp h1{font-size:1.5em;color:#3aac4a;margin:0;text-shadow:0px 0px 1px white;line-height:1.7em;}
#hp a.bouton{margin:0 auto;margin-top:30px;width:320px;}
#hpl{position:absolute;left:0;width:50%;height:100%;align-items:center;bottom:0;}
#hpl img{width:40%;}
#hpl2, #hps3{align-self:flex-end;}
#hp:before, #hp:after{content:"";width:200%;height:50vw;z-index:50;left:0;top:50%;position:absolute;box-shadow:1px 1px 3px #333;
-webkit-transform-origin:top left;transform-origin:top left;-webkit-transform:rotate(24deg);transform:rotate(24deg);}
#hp:before{background:#3aac4a;}
#hp:after{background:white;top:75%;-webkit-transform:rotate(14deg);transform:rotate(14deg);}
.hps{width:60%;text-align:center;position:relative;right:180%;z-index:60;padding:10px;}
@keyframes apl{from {right:150%;}to {right:0%;}}
.hps a{margin:30px auto;}
#hps1{align-self:flex-start;-webkit-animation: apl 1.2s ease-out .5s;animation: apl 1.2s ease-out .5s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
#hps2{align-self:center;-webkit-animation: apl 1.2s ease-out 1s;animation: apl 1.2s ease-out 1s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
#hps3{-webkit-animation: apl 1.2s ease-out 1.5s;animation: apl 1.2s ease-out 1.5s;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}
@media (max-aspect-ratio: 3/2) {#hp{padding-bottom:10%;}}
@media screen and (orientation:portrait) {
#hpl img{width:55%;}
#hpl1{position:relative;}
#hpl2{margin-left:-15%;}
#hp:before, #hp:after{-webkit-transform:rotate(66deg);transform:rotate(66deg);top:25%;}
#hp:after{-webkit-transform:rotate(76deg);transform:rotate(76deg);top:50%;}
#hp{padding-left:0;}
}
@media screen and (max-aspect-ratio: 3/5) {
#hp{padding-bottom:0%;}
#hp:before, #hp:after{left:-13vw;}
#hpl{left:-10vw;}
#hpl img {width:55%;}
}
@media screen and (max-aspect-ratio: 3/6) {
#hp:before, #hp:after{left:-15vw;}
#hpl{left:-8vw;}
#hpl img {width:60%;}
}
@media screen and (min-aspect-ratio: 3/2){
#hp h1, #hp h2{font-size:1.2em!important;line-height:1.3em;}
#hp a.bouton{margin-top:10px!important;}
}
@media screen and (min-aspect-ratio: 3/2) and (max-height:500px) {
#hp h1, #hp h2{font-size:1em!important;line-height:1.1em;}
#hp a{display:none;}
}
@media screen and (max-width: 1400px) {
#hp{padding-left:20%;}
#hp h2, #hp h1{font-size:1.4em;}
#hp a.bouton{margin-top:25px;}
#hp a.bouton{width:280px;}
}
}
@media screen and (max-width: 1000px) {
#hp h2, #hp h1{font-size:1.3em;line-height:1.6em;}
#hp a.bouton{margin-top:15px;}
#hp a.bouton{width:240px;}
.hps{width:70%;}
}
@media screen and (max-width: 500px) {
#hp h2, #hp h1{font-size:1.2em;line-height:1.5em;}
#hp a.bouton{margin-top:10px;}
#hp{height:calc(100vh - 100px);}
#hp h2, #hp h1{font-size:1.3em;}
#hpl{width:60%;}
#hp a.bouton{width:200px;height:35px;line-height:35px;font-size:0.9em;margin-top:10px;}
.hps{width:75%;}
}
@media screen and (max-width: 380px) {
#hp h2, #hp h1{font-size:1.1em;}
#hp a.bouton{width:180px;font-size:0.84em;margin-top:5px;}
}