#search{}
#search:after{clear:both;display:block;content:" ";}
#search p{
	margin-top:0;
}
#search .avant{float: left;margin: 0;margin-top: 22.5px;}

@media screen and (max-width: 1400px) {
	#search .avant{margin-top:12.5px;}
}

@media screen and (max-width: 1000px) {
#search .bouton{display:block;}
}

@media screen and (max-width: 700px) {
#search .bouton{width:120px;}
#search .bouton:not(.avant){margin-left: calc(100% - 120px);}
#search .bouton span{display:none;}
}