#credit_simulator{font-size:22px;font-family:Verdana;}
#credit_simulator div.presentation{display:none;}
#credit_simulator div.slider{height:8px;}
#credit_simulator div.slider div.dragger{width:60px;height:22px;background:#0079b4;border-radius:0;box-shadow:none;top:5px!important;}
#credit_simulator div.block-slider span, #credit_simulator div.block_info > *{display:block;margin-top:20px;margin-bottom:10px;}
#credit_simulator div.textinfos{text-align:right;margin-top:10px;padding-right:40px;color:white;}
#credit_simulator div.textinfos input[type=text], #credit_simulator div.block_info input[type=text]{text-align: right;font-family: inherit;font-size: inherit;font-weight: normal;margin-right: 20px;color:inherit;}
#credit_simulator div.block_info{padding-right:40px;}
#credit_simulator div.block_info span, #credit_simulator div.block_info input[type=text]{float:left;width:65%;margin-left:0;margin-right:0;height:25px;padding:0;line-height:1em;}
#credit_simulator div.block_info input[type=text]{width:35%;padding:0;}
#credit_simulator input[type=submit]{
	display:block;margin:40px auto;margin-bottom:20px;background:#0079b4;color:white;font-size:24px;text-align:center;height:50px;line-height:50px;border:none;border-radius:0;float:left;
}

@media (max-width: 1700px) {
	#credit_simulator{font-size:20px;}
	#credit_simulator div.block-slider span, #credit_simulator div.block_info > *{margin-top:15px;}
	#credit_simulator input[type=submit]{margin:20px auto;}
}

@media (max-width: 1500px) {
	#credit_simulator{font-size:18px;width:95%;}
	#credit_simulator div.block-slider span, #credit_simulator div.block_info > *{margin-top:10px;margin-bottom:5px;}
	#credit_simulator input[type=submit]{margin:10px auto;}
}

@media (max-width: 1200px) {
	#credit_simulator div.block_info:last-of-type{display:none;}
	#credit_simulator input[type=submit]{font-size:20px;line-height:40px;height:40px;}
	#blocks .pub a, a.submitbutton{font-size:20px;line-height:40px;}
}

@media (max-width: 960px) {
	#credit_simulator div.textinfos{color:#444;}
	#credit_simulator div.track{background:#999;}
	
	}