/* SASS Variables */

$primary: #0033A0;
$secondary: #df003c;
$bgdark: #09090b;
$bglight: #f0f0f0;
$bgmedium : #b9b9b9;
$bgfooter: #e7e7e7;
$black: #000;
$white: #fff;
$text-color: #181817;
$light-text-color: #929090;
$light-grey: #f0f0f0;
$darker-grey: #c3c3c3;

$container-width: 1500px;

/* Breakpoints */
$breakpoint-full: 1921px;
$breakpoint-max: 1500px;
$breakpoint-large: 1200px;
$breakpoint-medium: 1024px;
$breakpoint-small: 768px;
$breakpoint-min: 680px;

$font-family: 'Open Sans', sans-serif;
$font-size: 19px;
$btn-font-size: 17px;
$btn-font-size-mobile: 15px;
$font-size-mobile: 16px;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

/* CSS options */
$border-radius: 10px;
$border-radius-full: 99px;
$box-shadow-color: #333;
