#GeneralWrapper{

.title-center p, .vc_align_center p {text-align: center;}
.contact-bloc h4 {text-transform: inherit; line-height: 2;}
.maxwidth {max-width: 980px; margin-left: auto;margin-right: auto;}

.flex-eq-height .wpb_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .vc_btn3-container {
    margin-top: auto;
      @media only screen and (max-width: $breakpoint-medium){
        margin-left: auto;
        margin-right: auto;
      }
  }
}

.page-template-template-form-creditcard .form-step-bar {display:none !important;}

#comparateur {
  background: #eee;
  border: 1px solid #3C8200;
  width: 33%;
  padding: 10px;
  box-sizing: border-box;
  tr, td {
    padding:5px;
  }
}

.contact-bloc h4  {
  letter-spacing: 2px;
  font-size: 1.8em;
  line-height: 1.8;
}

.one-third-link-bloc {
  @media only screen and (max-width: $breakpoint-medium){
      .vc_col-sm-4 {
        width: 100%;
        h4, h3 {text-align: center !important;}
        .wpb_single_image .vc_single_image-wrapper {text-align: center;}
        ul li {text-align: center;}
        .title-left h3::after {  margin-right: auto;margin-left: auto;}
      }
    }
}
.one-fourth-link-bloc {
  @media only screen and (max-width: $breakpoint-medium){
      .vc_col-sm-3 {width: 50%;}
    }
    @media only screen and (max-width: $breakpoint-small){
        .vc_col-sm-3 {width: 100%;}
      }
}

.one-fifth-link-bloc {

  @media only screen and (max-width: $breakpoint-max){
      .vc_column_container > .vc_column-inner {
        padding-left: 12px;
        padding-right: 12px;
      }
    }

    @media only screen and (max-width: $breakpoint-large){
        .vc_column_container {width: 33%;}
      }

  @media only screen and (max-width: $breakpoint-medium){
      .vc_column_container {width: 50%;}
    }
    @media only screen and (max-width: $breakpoint-small){
        .vc_column_container {width: 100%;}
      }

}

.credit-blog-bloc {
  @media only screen and (max-width: $breakpoint-large){
      .vc_col-md-6 {
        padding: 12px;
      }
    }
    h3 {
      overflow: hidden;
      height: 160px;
        @media only screen and (max-width: $breakpoint-medium){
          overflow: visible;
          height: inherit;
        }
    }
    .figure-img {max-height: 330px; overflow: hidden;
      @media only screen and (max-width: $breakpoint-large){
        max-height: 240px;
      }
      @media only screen and (max-width: $breakpoint-medium){
        max-height: inherit;
        overflow: auto;
      }

    }
}

  .diagonal-bck.bigpadding {
    @media only screen and (max-width: $breakpoint-small){
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }

}



.page-template-template-form-php #GeneralWrapper {

  .hero.background-hero { display: none;}
  .container{
    @media only screen and (max-width: $breakpoint-medium){
      padding-top:0px;
    }
    @media only screen and (min-width: $breakpoint-small) and (max-width: $breakpoint-medium){
      .dob-f .col-md-1 { padding-right: 0px;}
    }
  }
  .demande-credit-component {
    padding: 4em;
    background: $primary;
    border-radius: 0;
      p {color: $white;}
      h4 {color: $secondary;}
      ul.inline-checklist li {color: $white;}
      .row.align-items-center .col-lg-3 {display: none;}
      .row.align-items-center .col-lg-6 {margin-left: auto;}
      @media only screen and (max-width: $breakpoint-medium){
        padding: 24px;
      }
      @media only screen and (max-width: $breakpoint-small){
        padding: 12px;
      }
  }
  .tab .formamount {display: none;}


  }
