#credit_simulator{
	margin:auto !important;
	}

#credit_simulator span{
	font-size:1.1em;
	text-align:center;
	margin-bottom:0px;
	}

#credit_simulator div.presentation{
	margin-top:10px;
	}

	
#credit_simulator input[type=submit]{
	padding:4% 0%;
	color:white;
	border:0px solid black;
	border-radius:5px;
	font-size:1.1em;
	}

#credit_simulator div.track{
	background:#CCC;
	background:-webkit-linear-gradient(#CCC 0%, #EEE 50%, #CCC 100%);
	background:-moz-linear-gradient(#CCC 0%, #EEE 50%, #CCC 100%);
	background:-o-linear-gradient(#CCC 0%, #EEE 50%, #CCC 100%);
	background:-linear-gradient(#CCC 0%, #EEE 50%, #CCC 100%);
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.6);
	border-radius:10px;
	}
	
#credit_simulator div.dragger,#credit_simulator input[type=submit]{
	background:#8ACE00;
	background:-webkit-linear-gradient(top right, #8FABC2, #2C6984);
	background:-moz-linear-gradient(top, #ACDE37, #2C6984);
	background:-o-linear-gradient(top, #ACDE37, #2C6984);
	background:-linear-gradient(top, #ACDE37, #2C6984);
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.8);
	}
	
#credit_simulator input[type=submit]{
	background:rgba(0,0,0,0.1);
	border:1px solid black;
	color:#488BC2;
	}