/*NOUVEAU*/ 
#mct #cr_f .btns input, #mct #cr_f #form_steps .actuel, #mct .dragger{background:#3AAC4A;}
#mct .dragger{width: 40px;height: 25px;border-radius:0px;}
#mct #cr_f #form_steps .actuel:after{border-color: transparent transparent transparent #3AAC4A;}
#mct #cr_f #form_steps #step_label{text-align:left!important;align-items:flex-start!important;}
#mct #cr_f .btns input:hover, #mct .dragger:hover{background:#1D992B;}
#cr_f .arg{box-shadow:1px 1px 3px #333;}
#cr_f #form_steps{position:fixed;top: 40px;left: 0;width: 100%;background: #eee;z-index:130;line-height:50px;padding: 0 10%;transition:all .5s;}
#container.scrolled #cr_f #form_steps{top:0px;}
#mct #cr_f #form_steps{margin-bottom:0!important;}

/* PF*/
#credit_form{background:#eee;box-shadow:0px 0px 1px #999;padding:25px;}
#credit_form .track_bg{background:linear-gradient(to bottom, #ccc, #ddd, #ccc);border-radius:0px;}
#credit_form .track{background:none;border:none;}
#credit_form{background:#eee;box-shadow:0px 0px 1px #999;padding:20px;}
#credit_form input{background: #fafafa;box-shadow: 0px 0px 1px #999;padding:0 10px;border:none;box-sizing:border-box;height:40px;line-height:40px;}
#credit_form .label{width:80px;opacity:0.5;margin-left:-80px;pointer-events:none;font-size:0.85em;box-sizing:border-box;padding-right:4px;text-align:right;}
#credit_form h2{margin-top:0;margin-bottom:0;}
#credit_form .simpleslider{margin-top:7px;}

@media screen and (max-width: 1400px){
	#cr_f #form_steps{padding:0 5%;}
	#mct #cr_f #form_steps .actuel:after{border-color: transparent transparent transparent #3AAC4A;}
	#credit_form{padding:20px;}
}

@media screen and (max-width: 1000px){
	#credit_form{padding:15px;}
	#cr_f #form_steps{padding:0 15px;}
	#credit_form input{height:30px;line-height:30px;}
}


@media screen and (max-width: 800px){
	#cr_f #form_steps{padding:0;}
	#mct #cr_f #form_steps #step_label{align-items:center!important;}
}

@media screen and (max-width: 800px){
	#mct #cr_f #form_steps{box-shadow:1px 1px 3px #333;}
	#cr_f .arg{box-shadow:none;}
}
