.form{width:100%;max-width:800px;margin:auto;margin-top:20px;}

.form input, .form select{
	height: 50px;
    padding: 15px 10px 15px;
    line-height: 20px;
    border-radius: 3px;
    background: #fbfbfb;
    border: 1px solid #aaa;
	box-sizing:border-box;
}

.form .input{width:100%;display:flex;justify-content:space-around;margin-bottom:25px;align-items:center;}
.form .input > *{width:calc(50% - 25px);}
.form .tab{border-collapse: collapse;    width: calc(100% - 25px);
    margin-left: 12.5px;background:#fbfbfb;}
.form .tab, .form .tab td{border:1px solid #aaa;}
.form .tab td{height:50px;line-height:50px;text-align:center;padding:0 10px;}
.form .tab tr:nth-of-type(odd){background:#f0f0f0;}